@tailwind base;

@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 221.2 83.2% 53.3%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --header-h: calc(100% - (5rem + 68px));
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 217.2 91.2% 59.8%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 224.3 76.3% 48%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
  .theme {
    --animate-background-position-spin: background-position-spin 3000ms infinite alternate;
    --animate-grid: grid 15s linear infinite;
    --animate-ripple: ripple var(--duration,2s) ease calc(var(--i, 0)*.2s) infinite;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@theme inline {
  @keyframes grid {
  0% {
    transform: translateY(-50%);
    }
  100% {
    transform: translateY(0);
    }
  }
  @keyframes ripple {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
    }
  }
  @keyframes ripple {
  0%, 100% {
    transform: translate(-50%, -50%) scale(1);
    }
  50% {
    transform: translate(-50%, -50%) scale(0.9);
    }
  }
}

@font-face {
  font-family: 'Winky';
  src: url('/fonts/WinkyRough-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'WinkyBold';
  src: url('/fonts/WinkyRough-Medium.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'WinkyItalic';
  src: url('/fonts/WinkyRough-LightItalic.ttf') format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'MangoLight';
  src: url('/fonts/Pretendard-Light.otf') format('truetype');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'MangoRegular';
  src: url('/fonts/Pretendard-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'MangoBold';
  src: url('/fonts/Pretendard-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'DMSerif';
  src: url('/fonts/DMSerifDisplay-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'MontBold';
  src: url('/fonts/Montserrat-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Mont';
  src: url('/fonts/Montserrat-Medium.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* 필요 시 Medium, SemiBold 등도 추가 */
body { 
  font-family: MangoRegular;
}
.\[mask-composite\: intersect\] {
  /* -webkit-mask-composite:source-in; */mask-composite:intersect
}

.\[mask-clip\: padding-box\,border-box\] {
  -webkit-mask-clip:padding-box,border-box;
  /* mask-clip:padding-box,border-box; */
}

.grid-layout {
  display: grid;
  gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
    "a"
    "b"
    "c";
}

@media (min-width: 1024px) {
  /* sm 이상일 때 layout 변경 */
  .grid-layout {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "a a c"
      "b b c";
  }
}

.a { grid-area: a;}
.b { grid-area: b;}
.c { grid-area: c;}

/* 기본(모바일) */
:root {
  --gap-sm: 1rem;
  --gap-md: 2rem;
  --gap-lg: 2rem;
}

/* 태블릿 이상 */
@media (min-width: 768px) {
  :root {
    --gap-sm: 2rem;
    --gap-md: 5rem;
    --gap-lg: 4rem;
  }
}

/* 데스크톱 이상 */
@media (min-width: 1280px) {
  :root {
    --gap-sm: 2rem;
    --gap-md: 5rem;
    --gap-lg: 8rem;
  }
}
.thumb {
  display: block;
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  margin-bottom: 21px;
  padding-bottom: 140%;
}

.thumb img {
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  height: 100%;
}

/* 로그인 폼 */
.boxCenter {
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.sign-in-container {
  transition: all 0.6s ease-in-out;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(50%);
}

.overlay-container {
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
  transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}
button[type="button"][data-state="checked"] ~ label {
  background-color: #db6521d7 !important;
  color: #fff;
  border: none;
}
